Repository spacetelescope/spacekit, pull requests merged in 2024-04, with the labels that each got.

#49 bugfix/astroquery-import
  CHANGES.rst
  docker/images/dashboard_image/Dockerfile
  docs/source/skopes/hst/cal/predict.rst
  pyproject.toml
  scripts/launch.sh
  setup.cfg
  spacekit/analyzer/compute.py
  spacekit/analyzer/explore.py
  spacekit/extractor/radio.py
  spacekit/preprocessor/scrub.py
  tests/skopes/hst/cal/test_hst_cal_predict.py
  tox.ini
Labels: documentation, testing, installation, extractor, preprocessor, analyzer

#50 builder/save-keras-archive-default
  CHANGES.rst
  spacekit/builder/architect.py
  spacekit/skopes/hst/svm/train.py
Labels: builder, skopes, hst svm

#51 radio/JwstCalRadio
  CHANGES.rst
  spacekit/extractor/radio.py
Labels: extractor

#52 feature/scrape-dataframe
  CHANGES.rst
  spacekit/extractor/scrape.py
  tests/extractor/test_scrape.py
  tests/preprocessor/test_scrub.py
Labels: testing, extractor

#54 feature/transformer-nans-and-txfile
  CHANGES.rst
  spacekit/preprocessor/transform.py
  spacekit/skopes/jwst/cal/config.py
Labels: preprocessor, skopes, jwst cal

#55 prep/spec-data-minor-updates
  CHANGES.rst
  spacekit/preprocessor/prep.py
Labels: preprocessor

#56 scrub/sophisticated-jwst-prod-naming
  CHANGES.rst
  spacekit/preprocessor/scrub.py
  spacekit/skopes/jwst/cal/config.py
  spacekit/skopes/jwst/cal/encoder_pairs.json
  tests/preprocessor/test_scrub.py
  tests/skopes/jwst/cal/test_jwst_cal_predict.py
Labels: testing, preprocessor, skopes, jwst cal

#57 feature/jwst-cal-automated-ingest
  CHANGES.rst
  spacekit/analyzer/track.py
  spacekit/preprocessor/ingest.py
  spacekit/preprocessor/scrub.py
  spacekit/skopes/jwst/cal/config.py
  spacekit/skopes/jwst/cal/encoder_pairs.json
Labels: preprocessor, analyzer, skopes, jwst cal

#48 Install astropy dev from wheel
  tox.ini
Labels: testing, no-changelog-entry-needed

#64 Bump pydot from 1.4.2 to 2.0.0
  docs/requirements.txt
Labels: documentation, no-changelog-entry-needed
